# CakePHP
/vendor/*
/tmp/*
/logs/*

# Node
/node_modules/*

# Testing coverage
/webroot/coverage/*
/build/logs/*

#PhpStorm
.idea/*

# External tool builders
.externalToolBuilders/

# Composer
composer.phar

# Protected data files
/config/.env
/config/.env.production
/config/.env.dev
/config/app_local.php

# Code coverage report
/build/logs/clover.xml

# Files copied from /vendor
/webroot/fonts/glyphicons-*
